<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Perfil de Usuario</ion-title>
    <ion-button slot="end" fill="outline" size="small" id="btnOutlog" (click)="logout()">
      <ion-icon name="log-out-outline" ></ion-icon>     
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Perfil de Usuario</ion-title>
    </ion-toolbar>
    
  </ion-header>
  <div id="container">
    <ion-card>
      <ion-img src="assets/img/bojji-access.jpg" id="logoLogin"></ion-img>
      <ion-card-title>Bienvenido, {{nombreUsuario}}</ion-card-title>
      <ion-card-subtitle>¿Que quieres hacer hoy?</ion-card-subtitle>
      <ion-button  shape="round" size="Small" id="btnRecuperar" (click)="recuperarContrasenia()">
        Recuperar Contraseña
      </ion-button>
      <ion-button (click)="logout()" size="Small" shape="round" id="btnCerrarSesion">
        Cerrar Sesion
      </ion-button>
      <div></div>
      <ion-button (click)="qrpage()" size="Small" shape="round" id="btnQR">
        QR
      </ion-button>
      <div></div>
      <ion-button (click)="infoRamos()" size="Small" shape="round" id="btnQR">
        Mis Ramos
      </ion-button>
    </ion-card>
    <ion-card>
      <ion-datetime locale="es-CL"></ion-datetime>
    </ion-card>
    <ion-img src="assets/img/auto.png" id="autito"></ion-img>
  </div>
</ion-content>
