#container ion-card  ion-img {
    width: 170px;
    height: 170px;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 5%;
    object-fit: cover;
    border: 2px solid black;
    border-radius: 50%;
    overflow: hidden;  
  }

  ion-content {
    --background: url('/assets/img/fondo-perfil.webp') no-repeat center center;
    --background-size: cover;
    height: 100%;
  }
  #btnRecuperar{
    margin-top: 5%;
    //color: white;
    --background: 	#C21E56;
  }
  
  #btnCerrarSesion{
    margin-top: 5%;
    //color: white;
    --background: 	#C21E56;
  }
  
  #autito {
    width: 200px;
    margin: 20px auto; /* Centra horizontalmente */
    display: block;
  }