<body>
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        Recuperar Contraseña
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Recuperar Contraseña</ion-title>
      </ion-toolbar>
    </ion-header>

  <div id="container">
    <ion-card color="light">
      <ion-card-header>
        <ion-card-subtitle>Ingrese su nombre de usuario y una nueva contraseña</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-input label="Usuario" [(ngModel)]="user.usuario" labelPlacement="floating" placeholder="Ingrese Su Usuario"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="Nueva Contraseña" [(ngModel)]="user.password" labelPlacement="floating" placeholder="Ingrese Su Nueva Contraseña">
              <ion-input-password-toggle id="password-toggle" slot="end"></ion-input-password-toggle>
            </ion-input>
          </ion-item>
        <div id="cuadroMsj">
          <ion-label>{{msj}}</ion-label>
          <div id="seccionCarga" *ngIf="carga">
            <ion-label>Cargando</ion-label>
            <mat-spinner></mat-spinner>
          </div>
        </div>
        <ion-button (click)="recuperar()" shape="round" size="Small" id="btnRecuperar">
          RECUPERAR
        </ion-button>
      </ion-list>
      </ion-card-content>
    </ion-card>
    <ion-card id="cardLogin" color="light">
      <ion-card-content>
        <ion-img id="logoDuoc" src="assets/img/Logo-DuocUC.png"></ion-img>
      </ion-card-content>
    </ion-card>
    </div>
  </ion-content>
</body>


