ion-content {
  --background: none;
  background-image: url('/assets/img/duoc-fondo.webp');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

#btnRecuperar{
    margin-top: 5%;
    //color: white;
    --background: 	#C21E56;
  
  }

  #seccionCarga {
    padding: 2%;
    margin: 10px;
  }
  
  #seccionCarga mat-spinner {
    width: 15% !important;
    display: block;
    margin-top: 2%;
    margin: auto;
  
  }

  #logoDuoc{
    width: 200px;
    margin: auto;
  }

  #cardLogin {
    z-index: 2; /* Asegura que el card también se muestre encima de la imagen */
    opacity: 100%;
    color:#C21E56; 
  }

  #container ion-card ion-card-header ion-img {
    width: 170px;
    height: 170px;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 5%;
    object-fit: cover;
    border: 2px solid black;
    border-radius: 50%;
    overflow: hidden;
    
  }